<a href="https://colab.research.google.com/github/MariaNatiele/Python_ML_Colab-Analise-dados/blob/main/CarrosVenda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
uri = ("https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv")
dados = pd.read_csv(uri)
dados.head()

   Unnamed: 0  mileage_per_year  model_year      price sold
0           0             21801        2000   30941.02  yes
1           1              7843        1998   40557.96  yes
2           2              7109        2006   89627.50   no
3           3             26823        2015   95276.14   no
4           4              7935        2014  117384.68  yes

In [ ]:
mapa= {
    'mileage_per_year' : 'milhas_pro_ano',
    'model_year': 'modelo_do_ano',
    'price' :'preco',
    'sold':'vendido'
}
dados.rename(columns=mapa)

      Unnamed: 0  milhas_pro_ano  modelo_do_ano      preco vendido
0              0           21801           2000   30941.02     yes
1              1            7843           1998   40557.96     yes
2              2            7109           2006   89627.50      no
3              3           26823           2015   95276.14      no
4              4            7935           2014  117384.68     yes
...          ...             ...            ...        ...     ...
9995        9995           15572           2006   97112.86      no
9996        9996           13246           2002  107424.63     yes
9997        9997           13018           2014   93856.99      no
9998        9998           10464           2011   51250.57     yes
9999        9999           12362           1999   87945.73      no

[10000 rows x 5 columns]

In [ ]:
trocar = {
    'yes':1,
    'n' : 0
}
dados.vendido = dados.vendido.map(trocar)

AttributeError: ignored

In [ ]:
 !pip install DateTime

Collecting DateTime
  Downloading DateTime-4.4-py2.py3-none-any.whl (51 kB)
     |████████████████████████████████| 51 kB 109 kB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from DateTime) (2022.1)
Collecting zope.interface
  Downloading zope.interface-5.4.0-cp37-cp37m-manylinux2010_x86_64.whl (251 kB)
     |████████████████████████████████| 251 kB 61 kB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from zope.interface->DateTime) (57.4.0)
Installing collected packages: zope.interface, DateTime
Successfully installed DateTime-4.4 zope.interface-5.4.0

In [ ]:
from DateTime import DateTime

ano_atual = DateTime.year 
dados['idade_modelo'] = ano_atual - dados.model_year
dados.head()

TypeError: ignored

In [ ]:
dados['Km_rodados'] = dados.mileage_per_year * 1,60934
dados.head()

In [ ]:
#dados = dados.drop(columns = ['mileage_per_year', 'model_year'],axis= 1) 
dados.hist()

In [ ]:
import pandas as pd
uri = 'https://gist.githubusercontent.com/guilhermesilveira/4d1d4a16ccbf6ea4e0a64a38a24ec884/raw/afd05cb0c796d18f3f5a6537053ded308ba94bf7/car-prices.csv'
dados = pd.read_csv(uri)
dados.head()

In [ ]:
mapa= {
    'mileage_per_year': 'milha_por_ano',
    'model_year' : 'ano_modelo',
    'price':'preco',
    'sold': 'vendido'
}
dados.rename(columns=mapa)

In [ ]:
nome ={
    'yes':1,
    'no': 0
}
dados.vendido = dados.vendido,map(nome)