<a href="https://colab.research.google.com/github/MariaNatiele/Python_ML_Colab-Analise-dados/blob/main/Usando_KNN_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://www.kaggle.com/datasets/nareshbhat/health-care-data-set-on-heart-attack-possibility

In [ ]:
from google.colab import files
aploaded = files.upload()

Saving previsaodeataquecardiaco.csv to previsaodeataquecardiaco.csv

In [ ]:
# age - Idade do paciente em anos
# sex - Sexo do paciente (1 = masculino, 0 = feminino)
# cp - Tipo de dor torácica ~ 0 = Angina Típica, 1 = Angina Atípica, 2 = Dor não aginosa, 3 = Assintomática
# trtbps - Pressão arterial em repouso (in mm Hg)
# chol - Colesterol em mg/dl obtido via sensor BMI 
# fbs - (glicemia em jejum > 120 mg/dl) ~ 1 = True, 0 = False
# restecg - Resultados eletrocardiográficos de repouso ~ 0 = Normal, 1 = Normalidade da onda ST-T, 2 = Hipertrofia ventricular esquerda
# thalachh - Frequência cardíaca máxima atingida
# oldpeak - Pico anterior
# slp - Inclinação
# caa - Number of major vessels
# thall - Resultado do teste de estresse de tálio ~ (0,3)
# exng - Angina induzida por exercício ~ 1 = Yes, 0 = No
# output - Target variable (classe)

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv("previsaodeataquecardiaco.csv")

In [ ]:
df.head(10)
# Como podemos ver, o output mostra se a pessoa está ou não sofrendo um ataque cardiaco

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [ ]:
df.output.value_counts()

1    165
0    138
Name: output, dtype: int64

In [ ]:
# Treinando o modelo:

import sklearn
from sklearn import preprocessing, neighbors
from sklearn.model_selection import train_test_split

In [ ]:
X = df.drop("output", axis=1)
X = preprocessing.scale(X)
y = df['output']

In [ ]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.3)

In [ ]:
clf = neighbors.KNeighborsClassifier(n_neighbors=5)
clf.fit(X_treino, y_treino)

KNeighborsClassifier()

In [ ]:
#Acurácia em função do numero de vizinhos (nesse caso 5):

acurácia = clf.score(X_treino, y_treino)
print("Acurácia", acurácia)

Acurácia 0.8773584905660378

In [ ]:
#previsão

for X,y in zip(X_teste, y_teste):
  print(f"Resultado previsto:{clf.predict([X])[0]}, Resultado real: {y}")

Resultado previsto:0, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:0, Resultado real: 0
Resultado previsto:0, Resultado real: 0
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1
Resultado previsto:1, Resultado real: 1

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
#resultados finais: 

y_pred = clf.predict(X_teste)

print(classification_report(y_teste, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.78      0.79        41
           1       0.82      0.84      0.83        50

    accuracy                           0.81        91
   macro avg       0.81      0.81      0.81        91
weighted avg       0.81      0.81      0.81        91